<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>
  <node pkg="maplab_realsense" type="zr300_node" name="zr300_node">

    <param name="imu/enabled" value="true"/>
    <param name="imu/imu_skip_first_n_gyro_measurements" value="100"/>

    <param name="fisheye/enabled" value="true"/>
    <param name="fisheye/width" value="640"/>
    <param name="fisheye/height" value="480"/>
    <param name="fisheye/fps" value="30"/>
    <param name="fisheye/enable_auto_exposure" value="true"/>
    <param name="fisheye/exposure_ms" value="25"/>
    <param name="fisheye/gain" value="9"/>
    <param name="fisheye/subsample_factor" value="1"/>

    <param name="color/enabled" value="true"/>
    <param name="color/width" value="640"/>
    <param name="color/height" value="480"/>
    <param name="color/fps" value="30"/>
    <param name="color/subsample_factor" value="1"/>

    <param name="depth/enabled" value="true"/>
    <param name="depth/width" value="640"/>
    <param name="depth/height" value="480"/>
    <param name="depth/fps" value="30"/>
    <param name="depth/subsample_factor" value="1"/>
    <param name="depth/median_filter_enabled" value="false"/>
    <param name="depth/median_filter_size" value="5"/>
    <param name="depth/min_max_filter_enabled" value="false"/>
    <param name="depth/min_max_filter_size" value="3"/>
    <param name="depth/min_max_filter_threshold" value="0.1"/>

    <param name="infrared/enabled" value="true"/>
    <param name="infrared/subsample_factor" value="1"/>

    <param name="pointcloud/enabled" value="true"/>
  </node>
</launch>
